<header>

  <nav class="flex items-center justify-between px-12 py-6 border-b border-b-grayscale-gray-100">
    <a>
      <img src="/navbar/Logo.svg" alt="Logo" class="size-10">
    </a>
    <ul class="flex items-center gap-6">
      <li class="text-blue-base">
        <a href="#" class="flex items-center justify-center gap-1.5">
            <img src="/navbar/Medal.svg" alt="Logo" class="size-5">

          Lista de certificados
        </a>
      </li>
      <li >
        <a href="#" class="flex items-center justify-center gap-1.5 text-grayscale-gray-200 ">
          <img src="/navbar/CirclesThreePlus.svg" alt="Logo" class="size-5">
          Gerar certificado
        </a>
      </li>
    </ul>
  </nav>
</header>